#wrapper{
	max-width: 100%;
	margin: 0 auto;
    padding: 0 30px;
}

.button{
	font-size:1em;
	margin-right:10px;
	display:block;
	color:#1e1e1e;
	padding:10px 25px;
	background:#D2F0F9;
	border-radius:20px;
	border:none;
	display:inline-block;
	cursor:pointer;
}

#buttons .button:last-child{
	margin-right:0;
}

.button:focus{
	outline:none;
}

.button:hover{
	background:#009ADE;
    color:#E9ECEB;
}

.uiux_design {
	text-decoration-line: none;
}

@media screen and (max-width: 768px) {
    .button {
        margin-top: 8px;
    }
}