.mt-30 {
	margin-top: 30px;
  }
  .mt-50 {
	margin-top: 50px;
  }

#wrapper{
	max-width: 100%;
	margin: 0 auto;
    padding: 0 30px;
}

.button{
	font-size:1em;
	margin-right:10px;
	display:block;
	color:#1e1e1e;
	padding:10px 25px;
	background:#D2F0F9;
	border-radius:20px;
	border:none;
	display:inline-block;
	cursor:pointer;
}

#buttons .button:last-child{
	margin-right:0;
}

.button:focus{
	outline:none;
}

.button:hover{
	background:#009ADE;
    color:#E9ECEB;
}

#lists {
	display: flex;
	text-align: left;
	margin-right: 5rem;
}

#lists li {
	list-style: none;
	justify-content: center;
}

#lists li:nth-of-type(1) {
	justify-content: space-around;
}

#lists li:nth-of-type(2) {
	justify-content: space-between;
}



@media screen and (max-width: 768px) {
    .button {
        margin-top: 8px;
    }

	.header {
		top: 0%;
	}

	#lists {
		display: block;
	}

	.bb-30 {
		margin-bottom: 5rem;
		border-bottom: 1px solid #a0a0a0;
	}
}